body {
    font-family: sans-serif;
}

.tree .tree-item {
    display: block;
    padding: 5px;
    padding-left: 20px;
    background: rgba(0, 0, 0, .1);
}

.tree .tree-item > .name {
    padding: 5px;
}

.tree .tree-item.expandable > .name {
    cursor: pointer;
}

.tree .tree-item.expandable > .name:before {
    float: left;
    display: block;
    height: 0;
    width: 0;
    content: " ";
    margin-right: 10px;
}

.tree .tree-item.expandable:not(.active) > .name:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
}

.tree .tree-item.expandable.active > .name:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}
